@media (max-width:768px) {
}
@media (min-width:769px) {
    .testimonials{
        background-color: #D9D9D9;
        margin-top: 8%;
        padding-bottom: 70px;
    }
    .testimonials .title{
        margin: auto;
        padding-top: 70px;
        padding-bottom: 70px;
        width: max-content;
    }
    .testimonials .testimonial{
        margin-top: 20px;
    }
    .container{
        width: 80%;
        margin: auto;
    }
    .testimonials-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
}